configuration{
    display-drun: "";
    display-window : "Windows:";
    drun-display-format : "{icon} {name}";
    font : "Hack Nerd Font 14";
    modi : "window,run,drun";
    show-icons : true;
    icon-theme : "Papirus";

}

@theme "/dev/null"

* {
    background : #11121d;
    bg-alt : #444b6a;

    foreground : #b9b9b9;
    fg-alt : #787c99;

    background-color:  @background;
    text-color : @foreground;

    border: 0;
    margin : 3;
    padding :0;
    spacing: 0;

    


}
