configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               "󰈈";
	drun-display-format:        "{name}";
}

* {
    font:                        "Hack Nerd Font 12";
    background:                  #080808;
    background-alt:              #CCCCCC;

    foreground:                  #000000;
    selected:                    #649094;
    active:                      #E9CC9D;
    urgent:                      #FEA861;
}

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       400px;
    x-offset:                    0px;
    y-offset:                    0px;
    /* properties for all widgets */
    border:                      2px 2px 2px 2px;
    border-color:                @background-alt;
    enabled:                     true;
    border-radius:               5px;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "listbox" ];
}

listbox {
    spacing:                     0px;
    padding:                     0px;

    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     15px;
    padding:                     80px 60px;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 horizontal;
    children:                    [ "icon-prompt", "entry"];
}
icon-prompt {
    enabled:            true;
    expand:             false;
    filename:           "/home/esz/Descargas/target.png"; /* Ruta completa a tu PNG */
    size:               20px; /* Ajusta el tamaño de la imagen */
    
    padding:            13px 20px;
    border-radius:      5px;
    background-color:   @background-alt;
}
entry {
    font:                        "Monocraft 12";
    enabled:                     true;
    expand:                      false;
    width:                       200px;
    padding:                     16px 16px;
    border-radius:               5px;
    background-color:            @background-alt;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Insertar IP..";
    placeholder-color:           #7a7a7a;
}


/*****----- Listview -----*****/
listview {
    enabled:                     false;
    columns:                     0; lines:                       0;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               false;
    
    spacing:                     0px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}


/*****----- Message -----*****/
message {
    background-color:            transparent;
}
textbox {
    padding:                     12px;
    border-radius:               100%;
    background-color:            @background-alt;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     12px;
    border-radius:               0px;
    background-color:            @background;
    text-color:                  @foreground;
}
